.chat-container {
  width: min(400px, 80%);
  background: #f5f3dc;
  border-radius: 1rem;
  border: solid 2px #fff;
}

.chat-container nav {
  display: flex;
  justify-content: flex-end;
  background-color: #23A8E9;
  border-radius: 1rem 1rem 0 0;
  border-bottom: solid 2px #343434;
}
.close-icon {
  padding: 8px 4px;
  margin-right: 12px;
}

.chat-wrapper {
  background-color: #f5f3dc;
  height: 400px;
  border-radius: 1rem;
  box-sizing: border-box;
  border: solid 2px #343434;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-message-wrapper {
  display: flex;
}

.new-message-input {
  background-color: #f5f3dc;
  border: solid 2px #343434;
  padding: 8px;
  border-radius: .5rem;
  margin-right: 12px;
}

.new-message-input:focus {
  border: solid 2px #343434;
}

.send-new-message {
  background-color: #F9C704;
  color: #343434;
  width: 80px;
  height: 100%;
  border-radius: .5rem;
  border: solid 2px #343434;
}