.media-container {
  border: solid 2px #fff;
  border-radius: 1rem;
  width: min(80%, 500px);
}
.media-wrapper {
  width: 100%;
  background-color: #f5f3dc;
  border-radius: 1rem;
  border: solid 2px #343434;
  box-sizing: border-box;
}
.media-wrapper nav {
  display: flex;
  justify-content: flex-end;
  background-color: #f7c904;
  border-radius: 1rem 1rem 0 0;
  border-bottom: solid 2px #343434;
}
.close-icon {
  padding: 8px 4px;
  margin-right: 12px;
}
.action-buttons-wrapper {
  width: 75%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 16px 0;
}

.love-wrapper {
  width: 100%;
  justify-content: space-evenly;
}

.love-count,
.hate-count {
  align-items: center;
}
.time-progress {
  text-align: center;
  margin-bottom: 12px;
}
